body {
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  background: #fff;
}
.form-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-email-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.form-message-container {
  display: flex;
  align-items: flex-start;
}
.form-message-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
}
.form-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
