ul {
  list-style: none;
}
.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
}
.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}
.gallery-item:hover {
  transform: scale(1.05);
}
.gallery-image {
  width: 360px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* light box 1
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 47, 66, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms ease;
}
.modal img {
  max-height: 95%;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
}
*/
